extends layout


<!-- Modal -->
block header
	link(rel='stylesheet', href='/css/style.css')
	script(src='/js/emoji.js')
		
block content
	h1#title=title
	.container
		form(id="signup", method="POST", action="/signup")
			input#browserData(type="hidden" name='browserData')
			.form-group
				.input-group.input-group-username
					.input-group-addon
						span.glyphicon.glyphicon-user
					input.form-control#username(type='text', name='username', placeholder="Username")
			button.btn.btn-primary.btn-block(type="submit", value="Sign Up") Sign Up

